
{{ define "main" }}
{{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
{{ $.Scratch.Set "lastYear" ""}}

  <h1 class="text-center">{{ .Type | humanize}}</h1>
  {{ range .Pages }}

    {{ $year := .Date.Year }}
    {{ $lastYear := $.Scratch.Get "lastYear"}}

    {{ if ne $year $lastYear }}
    <p>{{ $year }}</p>
    {{ $.Scratch.Set "lastYear" $year }}
    {{ end }}
    
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2, Jan 2006" }} :: </time>
        <a class="text-body" href="{{ .RelPermalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
        <br/>

  {{ end }}

  <div class="pagination">
    {{- if .PrevPage }}
    <a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
    {{- end }}
    {{- if .NextPage }}
    <a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
    {{- end }}
  </div>
  

{{ end }}
